Repository gabe565/charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-chart-summary, helm-docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: check-merge-conflict
      - id: check-case-conflict

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.3.1
    hooks:
      - id: remove-crlf
      - id: remove-tabs

  - repo: local
    hooks:
      - id: gen-chart-summary
        name: Generate Chart Summary
        entry: hack/gen-chart-summary.sh
        language: system
        files: Chart\.yaml$
        pass_filenames: false

      - id: helm-docs
        name: Helm Docs
        entry: hack/gen-helm-docs.sh
        language: script
        files: (README_CONFIG\.md\.gotmpl|(Chart|requirements|values)\.yaml)$
        pass_filenames: false

Update index.yaml
  index.yaml
Due: none

Correcting redis naming restrictions
  charts/paperless-ngx/values.yaml
Due: helm-docs

Clarify comment language around helm template
  charts/paperless-ngx/values.yaml
Due: helm-docs

docs(paperless-ngx): Add comments for using a default secret for redis auth (#608)
  charts/paperless-ngx/values.yaml
Due: helm-docs

chore: Add default securityContext to personal charts
  charts/ascii-movie/Chart.yaml
  charts/ascii-movie/README.md
  charts/ascii-movie/values.yaml
  charts/castsponsorskip/Chart.yaml
  charts/castsponsorskip/README.md
  charts/castsponsorskip/values.yaml
  charts/domain-watch/Chart.yaml
  charts/domain-watch/README.md
  charts/domain-watch/values.yaml
  charts/matrimony/Chart.yaml
  charts/matrimony/README.md
  charts/matrimony/values.yaml
  charts/relax-sounds/Chart.yaml
  charts/relax-sounds/README.md
  charts/relax-sounds/values.yaml
  charts/transsmute/Chart.yaml
  charts/transsmute/README.md
  charts/transsmute/values.yaml
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/home-assistant/Chart.yaml
  charts/home-assistant/README.md
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/esphome/Chart.yaml
  charts/esphome/README.md
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/changedetection-io/Chart.yaml
  charts/changedetection-io/README.md
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/nightscout/Chart.yaml
  charts/nightscout/README.md
Due: gen-chart-summary, helm-docs

chore(obico): Unpin image tags
  .github/renovate.json
  charts/obico/Chart.yaml
  charts/obico/README.md
  charts/obico/values.yaml
Due: gen-chart-summary, helm-docs

chore: Temporary commit to disable Renovate updates for this PR
  temp
Due: none

chore(esphome): Unpin image tags
  charts/esphome/Chart.yaml
  charts/esphome/README.md
  charts/esphome/values.yaml
Due: gen-chart-summary, helm-docs

chore(home-assistant): Unpin image tags
  charts/home-assistant/Chart.yaml
  charts/home-assistant/README.md
  charts/home-assistant/values.yaml
Due: gen-chart-summary, helm-docs

chore(changedetection-io): Unpin image tags
  charts/changedetection-io/Chart.yaml
  charts/changedetection-io/README.md
  charts/changedetection-io/values.yaml
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/borgmatic/Chart.yaml
  charts/borgmatic/README.md
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/ascii-movie/Chart.yaml
  charts/ascii-movie/README.md
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/qbittorrent/Chart.yaml
  charts/qbittorrent/README.md
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/plex/Chart.yaml
  charts/plex/README.md
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/miniflux/Chart.yaml
  charts/miniflux/README.md
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/monica/Chart.yaml
  charts/monica/README.md
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/paperless-ngx/Chart.yaml
  charts/paperless-ngx/README.md
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/memos/Chart.yaml
  charts/memos/README.md
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/bookstack/Chart.yaml
  charts/bookstack/README.md
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/homer/Chart.yaml
  charts/homer/README.md
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/adguard-home/Chart.yaml
  charts/adguard-home/README.md
Due: gen-chart-summary, helm-docs
