Repository gabe565/charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-chart-summary, helm-docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: check-merge-conflict
      - id: check-case-conflict

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.3.1
    hooks:
      - id: remove-crlf
      - id: remove-tabs

  - repo: local
    hooks:
      - id: gen-chart-summary
        name: Generate Chart Summary
        entry: hack/gen-chart-summary.sh
        language: system
        files: Chart\.yaml$
        pass_filenames: false

      - id: helm-docs
        name: Helm Docs
        entry: hack/gen-helm-docs.sh
        language: script
        files: (README_CONFIG\.md\.gotmpl|(Chart|requirements|values)\.yaml)$
        pass_filenames: false

Update index.yaml
  index.yaml
Due: none

feat: Create CastSponsorSkip chart
  README.md
  charts/castsponsorskip/.helmignore
  charts/castsponsorskip/Chart.lock
  charts/castsponsorskip/Chart.yaml
  charts/castsponsorskip/README.md
  charts/castsponsorskip/README_CONFIG.md.gotmpl
  charts/castsponsorskip/templates/NOTES.txt
  charts/castsponsorskip/templates/common.yaml
  charts/castsponsorskip/values.yaml
Due: gen-chart-summary, helm-docs

docs(castsponsorskip): Add `TZ` env
  charts/castsponsorskip/README.md
  charts/castsponsorskip/values.yaml
Due: helm-docs

docs: Update social card background color
  docs/mkdocs.yml
Due: none

docs: Update docs site icon
  docs/docs/assets/icons/android-chrome-192x192.png
  docs/docs/assets/icons/android-chrome-512x512.png
  docs/docs/assets/icons/apple-touch-icon.png
  docs/docs/assets/icons/favicon-16x16.png
  docs/docs/assets/icons/favicon-32x32.png
  docs/docs/assets/icons/favicon.ico
  docs/docs/assets/icons/favicon.svg
  docs/docs/assets/icons/icon.svg
  docs/docs/assets/icons/icon.webp
  docs/docs/assets/icons/icon_transparent.svg
  docs/docs/assets/icons/mstile-144x144.png
  docs/docs/assets/icons/mstile-150x150.png
  docs/docs/assets/icons/mstile-310x150.png
  docs/docs/assets/icons/mstile-310x310.png
  docs/docs/assets/icons/mstile-70x70.png
  docs/docs/assets/icons/safari-pinned-tab.svg
  docs/docs/browserconfig.xml
  docs/docs/site.webmanifest
  docs/docs/stylesheets/extra.css
  docs/mkdocs.yml
  docs/overrides/main.html
Due: none

Revert ":construction_worker: (ci): Add separate concurrency groups for chart release and site deploy"
  .github/workflows/release.yaml
Due: none

chore(deps): update hascheksolutions/pictshare digest to 19d7cb06
  charts/pictshare/Chart.yaml
  charts/pictshare/README.md
  charts/pictshare/values.yaml
Due: gen-chart-summary, helm-docs

fix(monica): Update chart icon URL
  README.md
  charts/monica/Chart.yaml
  charts/monica/README.md
Due: gen-chart-summary, helm-docs
