Repository gabe565/charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-chart-summary, helm-docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: check-merge-conflict
      - id: check-case-conflict

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.3.1
    hooks:
      - id: remove-crlf
      - id: remove-tabs

  - repo: local
    hooks:
      - id: gen-chart-summary
        name: Generate Chart Summary
        entry: hack/gen-chart-summary.sh
        language: system
        files: Chart\.yaml$
        pass_filenames: false

      - id: helm-docs
        name: Helm Docs
        entry: hack/gen-helm-docs.sh
        language: script
        files: (README_CONFIG\.md\.gotmpl|(Chart|requirements|values)\.yaml)$
        pass_filenames: false

Update index.yaml
  index.yaml
Due: none

chore(renovate): Remove DockerHub user
  .github/renovate.json
Due: none

Update dependencies and versions in home-assistant chart
  charts/home-assistant/Chart.lock
  charts/home-assistant/Chart.yaml
  charts/home-assistant/templates/NOTES.txt
  charts/home-assistant/templates/common.yaml
  charts/home-assistant/values.yaml
Due: gen-chart-summary, helm-docs

Add stubs for codeserver and MQTT
  charts/home-assistant/values.yaml
Due: helm-docs

Update homer chart config-map values.yaml to match common library
  charts/homer/README.md
  charts/homer/templates/common.yaml
  charts/homer/values.yaml
Due: helm-docs

Update homer chart config-map values.yaml to match common library (#513)
  charts/homer/README.md
  charts/homer/templates/common.yaml
  charts/homer/values.yaml
Due: helm-docs

chore(homer): Release v0.9.1
  charts/homer/Chart.yaml
  charts/homer/README.md
Due: gen-chart-summary, helm-docs

chore(domain-watch): Update icon
  README.md
  charts/domain-watch/Chart.yaml
  charts/domain-watch/README.md
Due: gen-chart-summary, helm-docs
