Repository gabe565/charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-chart-summary, helm-docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: check-merge-conflict
      - id: check-case-conflict

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.3.1
    hooks:
      - id: remove-crlf
      - id: remove-tabs

  - repo: local
    hooks:
      - id: gen-chart-summary
        name: Generate Chart Summary
        entry: hack/gen-chart-summary.sh
        language: system
        files: Chart\.yaml$
        pass_filenames: false

      - id: helm-docs
        name: Helm Docs
        entry: hack/gen-helm-docs.sh
        language: script
        files: (README_CONFIG\.md\.gotmpl|(Chart|requirements|values)\.yaml)$
        pass_filenames: false

Update index.yaml
  index.yaml
Due: none

:wastebasket: (portfolio): Deprecate chart
  charts/portfolio/Chart.yaml
  charts/portfolio/README.md
Due: gen-chart-summary, helm-docs

:fire: (porfolio): Remove chart
  README.md
  charts/portfolio/.helmignore
  charts/portfolio/Chart.lock
  charts/portfolio/Chart.yaml
  charts/portfolio/README.md
  charts/portfolio/README_CONFIG.md.gotmpl
  charts/portfolio/templates/NOTES.txt
  charts/portfolio/templates/common.yaml
  charts/portfolio/values.yaml
Due: gen-chart-summary, helm-docs

:bug: (home-assistant): Fix icon URL
  README.md
  charts/home-assistant/Chart.yaml
  charts/home-assistant/README.md
Due: gen-chart-summary, helm-docs

:bug: (esphome): Fix readme title
  README.md
  charts/esphome/Chart.yaml
  charts/esphome/README.md
  charts/esphome/README_CONFIG.md.gotmpl
Due: gen-chart-summary, helm-docs

:construction_worker: (ci): Add separate concurrency groups for chart release and site deploy
  .github/workflows/release.yaml
Due: none

:sparkles: (ascii-movie): Add ServiceMonitor values
  charts/ascii-movie/Chart.yaml
  charts/ascii-movie/README.md
  charts/ascii-movie/values.yaml
Due: gen-chart-summary, helm-docs

Added extra variables for downloads/media
  charts/qbittorrent/values.yaml
Due: helm-docs

Update values.yaml
  charts/qbittorrent/values.yaml
Due: helm-docs

:bulb: Tweak comment order
  charts/qbittorrent/values.yaml
Due: helm-docs
