Repository gabe565/charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-chart-summary, helm-docs

gen-chart-summary:
  name: Generate Chart Summary
  entry: hack/gen-chart-summary.sh
  language: system
  pass_filenames: false

helm-docs:
  name: Helm Docs
  entry: hack/gen-helm-docs.sh
  language: script
  pass_filenames: false

:bulb: Fix comment indent
  charts/qbittorrent/values.yaml
Due: helm-docs

:package: Rerun pre-commit hooks
  charts/qbittorrent/README.md
  charts/qbittorrent/values.yaml
Due: helm-docs

Added variables & verbiage (#236)
  charts/qbittorrent/README.md
  charts/qbittorrent/values.yaml
Due: helm-docs

Update index.yaml
  index.yaml
Due: none

:sparkles: (relax-sounds): Add ServiceMonitor values
  charts/relax-sounds/Chart.yaml
  charts/relax-sounds/README.md
  charts/relax-sounds/values.yaml
Due: gen-chart-summary, helm-docs

:sparkles: (generic-device-plugin): Add ServiceMonitor values
  charts/generic-device-plugin/Chart.yaml
  charts/generic-device-plugin/README.md
  charts/generic-device-plugin/values.yaml
Due: gen-chart-summary, helm-docs

:sparkles: (miniflux): Add ServiceMonitor values
  charts/miniflux/Chart.yaml
  charts/miniflux/README.md
  charts/miniflux/templates/_metrics.yaml
  charts/miniflux/templates/common.yaml
  charts/miniflux/values.yaml
Due: gen-chart-summary, helm-docs

:memo: Change some values.yaml references into links
  charts/ascii-movie/README.md
  charts/ascii-movie/values.yaml
  charts/generic-device-plugin/README.md
  charts/generic-device-plugin/values.yaml
  charts/relax-sounds/README.md
  charts/relax-sounds/values.yaml
Due: helm-docs

:recycle: (relax-sounds): Merge metrics service into main
  charts/relax-sounds/Chart.yaml
  charts/relax-sounds/README.md
  charts/relax-sounds/values.yaml
Due: gen-chart-summary, helm-docs

:recycle: (headscale): Add ServiceMonitor values
  charts/headscale/Chart.yaml
  charts/headscale/README.md
  charts/headscale/values.yaml
Due: gen-chart-summary, helm-docs

:memo: (home-assistant): Add link to Generic Device Plugin
  charts/home-assistant/README.md
  charts/home-assistant/README_CONFIG.md.gotmpl
Due: helm-docs

Path conditions:
  gen-chart-summary: any of: Chart\.yaml$
  helm-docs: any of: (README_CONFIG\.md\.gotmpl|(Chart|requirements|values)\.yaml)$
