Repository gabe565/charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-chart-summary, helm-docs

gen-chart-summary:
  name: Generate Chart Summary
  entry: hack/gen-chart-summary.sh
  language: system
  pass_filenames: false

helm-docs:
  name: Helm Docs
  entry: hack/gen-helm-docs.sh
  language: script
  pass_filenames: false

Update index.yaml
  index.yaml
Due: none

:bento: (relax-sounds): Update app icon
  charts/relax-sounds/Chart.yaml
  charts/relax-sounds/README.md
Due: gen-chart-summary, helm-docs

:bento: Add some new app icons
  charts/domain-watch/Chart.yaml
  charts/domain-watch/README.md
  charts/matrimony/Chart.yaml
  charts/matrimony/README.md
  charts/transsmute/Chart.yaml
  charts/transsmute/README.md
Due: gen-chart-summary, helm-docs

:bento: (readme): Add icons to root README.md
  README.md
  hack/gen-chart-summary.sh
Due: none

:recycle: (docs): Replace mdBook with MkDocs Material
  .github/renovate.json
  .github/workflows/release.yaml
  .gitignore
  docs/.gitignore
  docs/Makefile
  docs/assets/css/main.css
  docs/book.toml
  docs/docs/assets/icons/android-chrome-192x192.png
  docs/docs/assets/icons/android-chrome-512x512.png
  docs/docs/assets/icons/apple-touch-icon.png
  docs/docs/assets/icons/favicon-16x16.png
  docs/docs/assets/icons/favicon-32x32.png
  docs/docs/assets/icons/favicon.ico
  docs/docs/assets/icons/favicon.svg
  docs/docs/assets/icons/icon.svg
  docs/docs/assets/icons/icon_transparent.svg
  docs/docs/assets/icons/mstile-144x144.png
  docs/docs/assets/icons/mstile-150x150.png
  docs/docs/assets/icons/mstile-310x150.png
  docs/docs/assets/icons/mstile-310x310.png
  docs/docs/assets/icons/mstile-70x70.png
  docs/docs/assets/icons/safari-pinned-tab.svg
  docs/docs/browserconfig.xml
  docs/docs/site.webmanifest
  docs/docs/stylesheets/extra.css
  docs/hack/prepare-docs.sh
  docs/hack/preprocessor/replace-content.sh
  docs/hack/strip-link-index.sh
  docs/mkdocs.yml
  docs/overrides/main.html
  docs/requirements.txt
  docs/src/.SUMMARY_src.md
  docs/theme/head.hbs
Due: none

:zap: (readme): Lazy load images
  README.md
  hack/gen-chart-summary.sh
Due: none

:lipstick: (docs): Lighten header color
  docs/docs/stylesheets/extra.css
Due: none

:speech_balloon: (docs): Add gabe565 to site title
  docs/mkdocs.yml
Due: none

:wrench: (docs): Add site metadata
  docs/mkdocs.yml
Due: none

:sparkles: (docs): Add code copy icons
  docs/mkdocs.yml
Due: none

:bento: (scanservjs): Add chart icon
  README.md
  charts/scanservjs/Chart.yaml
  charts/scanservjs/README.md
Due: gen-chart-summary, helm-docs

:speech_balloon: (docs): Update docs commit message
  .github/workflows/release.yaml
Due: none

:fire: (ci): Remove sitemap.xml.gz
  .github/workflows/release.yaml
Due: none

:wrench: (docs): Create robots.txt
  docs/docs/robots.txt
Due: none

:recycle: (docs): Replace prepare-docs script with MkDocs plugins
  .github/workflows/release.yaml
  docs/hack/prepare-docs.sh
  docs/mkdocs.yml
  docs/plugins/add_files.py
  docs/plugins/filter_readmes.py
  docs/plugins/remove_sitemap_gz.py
  docs/requirements.txt
Due: none

:sparkles: (docs): Add revision dates
  .github/workflows/release.yaml
  docs/mkdocs.yml
  docs/requirements.txt
Due: none

:bug: (headscale): Fix ordered list in readme being displayed inline
  charts/headscale/README.md
  charts/headscale/README_CONFIG.md.gotmpl
Due: helm-docs

:wrench: (docs): Add file watchers for readmes in local environment
  docs/plugins/add_files.py
Due: none

:sparkles: (docs): Set page descriptions for each chart
  docs/plugins/filter_readmes.py
  docs/requirements.txt
Due: none

:sparkles: (docs): Add social cards
  docs/.gitignore
  docs/mkdocs.yml
  docs/requirements.txt
Due: none

:bug: (docs): Fix cache key always being an exact match
  .github/workflows/release.yaml
Due: none

:wrench: (docs): Add overrides dir to local file watchers
  docs/mkdocs.yml
Due: none

:sparkles: (docs): Add links to chart and values.yaml
  docs/overrides/partials/actions.html
Due: none

:lipstick: (docs): Switch to tabbed navigation
  docs/mkdocs.yml
  docs/plugins/filter_readmes.py
Due: none

:bento: (home-assistant, homer): Replace png icon with svg
  README.md
  charts/home-assistant/Chart.yaml
  charts/home-assistant/README.md
  charts/homer/Chart.yaml
  charts/homer/README.md
Due: gen-chart-summary, helm-docs

Path conditions:
  gen-chart-summary: any of: Chart\.yaml$
  helm-docs: any of: (README_CONFIG\.md\.gotmpl|(Chart|requirements|values)\.yaml)$
