Repository gabe565/charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-chart-summary, helm-docs

gen-chart-summary:
  name: Generate Chart Summary
  entry: hack/gen-chart-summary.sh
  language: system
  pass_filenames: false

helm-docs:
  name: Helm Docs
  entry: hack/gen-helm-docs.sh
  language: script
  pass_filenames: false

:hammer: (update-changelog): Add param to append or replace changelog
  .github/workflows/renovate.yaml
  hack/update-changelog.sh
Due: none

:wrench: (renovate): Use dedicated Docker Hub user
  .github/renovate.json
Due: none

Update index.yaml
  index.yaml
Due: none

:memo: (ascii-movie): Add example envs
  charts/ascii-movie/Chart.yaml
  charts/ascii-movie/README.md
  charts/ascii-movie/values.yaml
Due: gen-chart-summary, helm-docs

:sparkles: (ascii-movie): Add SSH host key config
  charts/ascii-movie/Chart.yaml
  charts/ascii-movie/README.md
  charts/ascii-movie/templates/common.yaml
  charts/ascii-movie/values.yaml
Due: gen-chart-summary, helm-docs

:sparkles: (ascii-movie): Exclude logs from probes
  charts/ascii-movie/Chart.yaml
  charts/ascii-movie/templates/common.yaml
Due: gen-chart-summary, helm-docs

:bookmark: (ascii-movie): Release v0.8.0
  charts/ascii-movie/Chart.yaml
  charts/ascii-movie/README.md
Due: gen-chart-summary, helm-docs

:zap: (ci): Use gabe565/setup-helm-docs-action
  .github/workflows/renovate.yaml
Due: none

:speech_balloon: (ci): Fix job key typo
  .github/workflows/renovate.yaml
Due: none

:wrench: (ascii-movie): Exclude probe logs via 0s disconnect flag instead of gateway IP
  charts/ascii-movie/Chart.yaml
  charts/ascii-movie/templates/common.yaml
Due: gen-chart-summary, helm-docs

:wrench: (ascii-movie): Tweak log exclusion duration flag name
  charts/ascii-movie/Chart.yaml
  charts/ascii-movie/templates/common.yaml
Due: gen-chart-summary, helm-docs

:memo: (docs): Clean up icon template
  hack/templates/README.md.gotmpl
  hack/templates/icon.gotmpl
Due: none

:bento: (pictshare): Replace PNG icon with SVG
  README.md
  charts/pictshare/.helmignore
  charts/pictshare/Chart.yaml
  charts/pictshare/README.md
  charts/pictshare/icon.svg
Due: gen-chart-summary, helm-docs

:wrench: (docs): Check root readme based on path instead of title
  docs/plugins/filter_readmes.py
Due: none

:speech_balloon: (docs): Tweak page description
  docs/plugins/filter_readmes.py
Due: none

:art: (docs): Move chart readme filter out of `with open`
  docs/plugins/filter_readmes.py
Due: none

:bug: (docs): Fix action links
  docs/overrides/partials/actions.html
Due: none

:fire: (docs): Remove plugin that deleted sitemap.xml.gz
  docs/mkdocs.yml
  docs/plugins/remove_sitemap_gz.py
Due: none

:wrench: (docs): Pass repo name and URL via env
  .github/workflows/release.yaml
  docs/mkdocs.yml
  docs/overrides/partials/actions.html
Due: none

:sparkles: (docs): Add permalink icons
  docs/mkdocs.yml
Due: none

:speech_balloon: (pictshare): Tweak capitalization
  README.md
  charts/pictshare/README.md
  charts/pictshare/README_CONFIG.md.gotmpl
Due: helm-docs

:arrow_up: Update ghcr.io/juanfont/headscale Docker tag to v0.22.1
  charts/headscale/Chart.yaml
  charts/headscale/README.md
  charts/headscale/values.yaml
Due: gen-chart-summary, helm-docs

:sparkles: (ascii-movie): Add internal API service
  charts/ascii-movie/Chart.yaml
  charts/ascii-movie/templates/common.yaml
  charts/ascii-movie/values.yaml
Due: gen-chart-summary, helm-docs

:memo: (ascii-movie): Remove deprecated envs from examples
  charts/ascii-movie/values.yaml
Due: helm-docs

:wrench: (ascii-movie): Use API service for health check
  charts/ascii-movie/Chart.yaml
  charts/ascii-movie/templates/common.yaml
Due: gen-chart-summary, helm-docs

Path conditions:
  gen-chart-summary: any of: Chart\.yaml$
  helm-docs: any of: (README_CONFIG\.md\.gotmpl|(Chart|requirements|values)\.yaml)$
