Repository gabe565/charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-chart-summary, helm-docs

gen-chart-summary:
  name: Generate Chart Summary
  entry: hack/gen-chart-summary.sh
  language: system
  pass_filenames: false

helm-docs:
  name: Helm Docs
  entry: hack/gen-helm-docs.sh
  language: script
  pass_filenames: false

:lipstick: (docs): Use flat chart badges
  charts/ascii-telnet/README.md
  charts/bookstack/README.md
  charts/borgmatic/README.md
  charts/changedetection-io/README.md
  charts/domain-watch/README.md
  charts/flame/README.md
  charts/hammond/README.md
  charts/headscale/README.md
  charts/homer/README.md
  charts/limo/README.md
  charts/matrimony/README.md
  charts/miniflux/README.md
  charts/mnemonic-ninja/README.md
  charts/monica/README.md
  charts/nightscout/README.md
  charts/pictshare/README.md
  charts/podgrab/README.md
  charts/portfolio/README.md
  charts/relax-sounds/README.md
  charts/rss-bridge/README.md
  charts/rsshub/README.md
  charts/scanservjs/README.md
  charts/smarter-device-manager/README.md
  charts/tandoor/README.md
  charts/transsmute/README.md
  charts/vaultwarden/README.md
  hack/gen-helm-docs.sh
Due: none

:memo: (docs): Use md links for dependency repositories
  charts/ascii-telnet/README.md
  charts/bookstack/README.md
  charts/borgmatic/README.md
  charts/changedetection-io/README.md
  charts/domain-watch/README.md
  charts/flame/README.md
  charts/hammond/README.md
  charts/headscale/README.md
  charts/homer/README.md
  charts/limo/README.md
  charts/matrimony/README.md
  charts/miniflux/README.md
  charts/mnemonic-ninja/README.md
  charts/monica/README.md
  charts/nightscout/README.md
  charts/pictshare/README.md
  charts/podgrab/README.md
  charts/portfolio/README.md
  charts/relax-sounds/README.md
  charts/rss-bridge/README.md
  charts/rsshub/README.md
  charts/scanservjs/README.md
  charts/smarter-device-manager/README.md
  charts/tandoor/README.md
  charts/transsmute/README.md
  charts/vaultwarden/README.md
  hack/templates/README.md.gotmpl
Due: none

:memo: (docs): Remove helm-docs version from footer
  charts/ascii-telnet/README.md
  charts/bookstack/README.md
  charts/borgmatic/README.md
  charts/changedetection-io/README.md
  charts/domain-watch/README.md
  charts/flame/README.md
  charts/hammond/README.md
  charts/headscale/README.md
  charts/homer/README.md
  charts/limo/README.md
  charts/matrimony/README.md
  charts/miniflux/README.md
  charts/mnemonic-ninja/README.md
  charts/monica/README.md
  charts/nightscout/README.md
  charts/pictshare/README.md
  charts/podgrab/README.md
  charts/portfolio/README.md
  charts/relax-sounds/README.md
  charts/rss-bridge/README.md
  charts/rsshub/README.md
  charts/scanservjs/README.md
  charts/smarter-device-manager/README.md
  charts/tandoor/README.md
  charts/transsmute/README.md
  charts/vaultwarden/README.md
  hack/templates/README.md.gotmpl
Due: none

:bento: (docs): Add main repo icon
  docs/_config.yml
  docs/_includes/head/custom.html
  docs/assets/icons/android-chrome-192x192.png
  docs/assets/icons/android-chrome-512x512.png
  docs/assets/icons/apple-touch-icon.png
  docs/assets/icons/browserconfig.xml
  docs/assets/icons/favicon-16x16.png
  docs/assets/icons/favicon-32x32.png
  docs/assets/icons/favicon.ico
  docs/assets/icons/favicon.svg
  docs/assets/icons/icon.svg
  docs/assets/icons/icon_transparent.svg
  docs/assets/icons/mstile-144x144.png
  docs/assets/icons/mstile-150x150.png
  docs/assets/icons/mstile-310x150.png
  docs/assets/icons/mstile-310x310.png
  docs/assets/icons/mstile-70x70.png
  docs/assets/icons/safari-pinned-tab.svg
  docs/assets/icons/site.webmanifest
Due: none

:wrench: (docs): Add start_url to webmanifest
  docs/assets/icons/site.webmanifest
Due: none

:wrench: (renovate): Ignore GitHub Actions automerge preset
  .github/renovate.json
Due: none

:bookmark: (borgmatic) Release v0.5.4
  charts/borgmatic/Chart.yaml
  charts/borgmatic/README.md
Due: gen-chart-summary, helm-docs

Update index.yaml
  index.yaml
Due: none

:bookmark: (miniflux): Release v0.2.2
  charts/miniflux/Chart.yaml
  charts/miniflux/README.md
Due: gen-chart-summary, helm-docs

:wrench: (headscale): Rename namespace to user
  charts/headscale/README.md
  charts/headscale/templates/NOTES.txt
  charts/headscale/values.yaml
Due: helm-docs

:wrench: (headscale): Replace Docker repo headscale/headscale with ghcr.io/juanfont/headscale
  charts/headscale/Chart.yaml
  charts/headscale/README.md
  charts/headscale/values.yaml
Due: gen-chart-summary, helm-docs

:bookmark: (headscale): Release v0.5.0
  charts/headscale/Chart.yaml
  charts/headscale/README.md
Due: gen-chart-summary, helm-docs

:memo: Release minor version bump
  charts/headscale/Chart.yaml
  charts/headscale/README.md
  charts/limo/Chart.yaml
  charts/limo/README.md
  charts/miniflux/Chart.yaml
  charts/miniflux/README.md
  charts/portfolio/Chart.yaml
  charts/portfolio/README.md
  charts/tandoor/Chart.yaml
  charts/tandoor/README.md
  charts/vaultwarden/Chart.yaml
  charts/vaultwarden/README.md
Due: gen-chart-summary, helm-docs

:bug: Fix changelog descriptions
  charts/headscale/Chart.yaml
  charts/limo/Chart.yaml
  charts/miniflux/Chart.yaml
  charts/portfolio/Chart.yaml
  charts/tandoor/Chart.yaml
  charts/vaultwarden/Chart.yaml
Due: gen-chart-summary, helm-docs

:recycle: (ci): Move doc perparation to hack script
  .github/workflows/release.yaml
  hack/prepare-docs.sh
Due: none

:wrench: (docs): Add local run Docker config
  .gitignore
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
  docs/_data/navigation_src.yml
  docs/docker-compose.yml
  hack/prepare-docs.sh
Due: none

:wrench: (renovate): Pin jekyll/jekyll Docker tag to v3
  .github/renovate.json
Due: none

:hammer: Add script to update chart version(s)
  hack/update-version.sh
Due: none

:hammer: Add script to update changelog
  hack/update-changelog.sh
Due: none

:construction_worker: (ci): Add Action to update chart metadata
  .github/workflows/renovate.yaml
Due: none

:arrow_up: Update monica Docker tag to v4
  charts/monica/Chart.yaml
Due: gen-chart-summary, helm-docs

Run CI on renovate-test/**
  .github/workflows/renovate.yaml
Due: none

:wrench: Update chart metadata
  charts/monica/Chart.yaml
  charts/monica/README.md
Due: gen-chart-summary, helm-docs

test
  README.md
Due: none

:alien: Rename additionalContainers to sidecars
  charts/changedetection-io/templates/common.yaml
  charts/headscale/README.md
  charts/headscale/README_CONFIG.md.gotmpl
  charts/monica/templates/common.yaml
  charts/rsshub/templates/common.yaml
  charts/tandoor/templates/common.yaml
Due: helm-docs

:memo: (readme): Add Renovate badge
  README.md
Due: none

:memo: (redame): Add Pre-Commit badge
  README.md
Due: none

:truck: (ci): Shorten Release Charts to Release
  .github/workflows/release.yaml
Due: none

:truck: (ci): Rename Deploy Markdown to Release Docs
  .github/workflows/release.yaml
Due: none

:hammer: (hack): Fix scripts when fetching changes from git
  hack/update-changelog.sh
  hack/update-version.sh
Due: none

Path conditions:
  gen-chart-summary: any of: Chart\.yaml$
  helm-docs: any of: (README_CONFIG\.md\.gotmpl|(Chart|requirements|values)\.yaml)$
