Repository gabe565/charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: ah-lint, helm-docs, gen-chart-summary

ah-lint:
  name: Artifact Hub Lint
  entry: ah lint --path=charts
  language: system
  pass_filenames: false

helm-docs:
  name: Helm Docs
  entry: hack/gen-helm-docs.sh
  language: script
  pass_filenames: false

gen-chart-summary:
  name: Generate Chart Summary
  entry: hack/gen-chart-summary.sh
  language: system
  pass_filenames: false

chore: Update chart metadata
  charts/miniflux/Chart.yaml
  charts/miniflux/README.md
Due: ah-lint, helm-docs, gen-chart-summary

chore: Update chart metadata
  charts/adguard-home/Chart.yaml
  charts/adguard-home/README.md
Due: ah-lint, helm-docs, gen-chart-summary

chore: Update chart metadata
  charts/borgmatic/Chart.yaml
  charts/borgmatic/README.md
Due: ah-lint, helm-docs, gen-chart-summary

Update to Headscale v0.24.1 and add dnsExtraRecords support
  charts/headscale/Chart.yaml
  charts/headscale/templates/common.yaml
  charts/headscale/values.yaml
Due: ah-lint, helm-docs, gen-chart-summary

Update README with extra DNS records configuration
  charts/headscale/README.md
Due: ah-lint

fixed typo for dnsExtraRecords
  charts/headscale/README.md
Due: ah-lint

Add mountPath for DNS extra records ConfigMap
  charts/headscale/templates/common.yaml
Due: ah-lint

Update Helm chart to rename dnsExtraRecords to dns
  charts/headscale/README.md
  charts/headscale/templates/common.yaml
  charts/headscale/values.yaml
Due: ah-lint, helm-docs

cleanup
  charts/headscale/templates/common.yaml
Due: ah-lint

Update chart annotations for Headscale v0.24.1
  charts/headscale/Chart.yaml
Due: ah-lint, helm-docs, gen-chart-summary

chore: Update chart metadata
  charts/vaultwarden/Chart.yaml
  charts/vaultwarden/README.md
Due: ah-lint, helm-docs, gen-chart-summary

Update index.yaml
  index.yaml
Due: none

feat(headscale): Update to headscale v0.24.1 and add values for extra DNS record support (#727)
  charts/headscale/Chart.yaml
  charts/headscale/README.md
  charts/headscale/templates/common.yaml
  charts/headscale/values.yaml
Due: ah-lint, helm-docs, gen-chart-summary

chore: Update chart metadata
  charts/bookstack/Chart.yaml
  charts/bookstack/README.md
  charts/healthchecks/Chart.yaml
  charts/healthchecks/README.md
  charts/memos/Chart.yaml
  charts/memos/README.md
  charts/monica/Chart.yaml
  charts/monica/README.md
  charts/paperless-ngx/Chart.yaml
  charts/paperless-ngx/README.md
  charts/vaultwarden/Chart.yaml
  charts/vaultwarden/README.md
Due: ah-lint, helm-docs, gen-chart-summary

chore(headscale): Add description to `configMaps.dns.enabled`
  charts/headscale/README.md
  charts/headscale/values.yaml
Due: ah-lint, helm-docs

chore(headscale): Release v0.15.0
  charts/headscale/Chart.yaml
  charts/headscale/README.md
Due: ah-lint, helm-docs, gen-chart-summary

chore: Update chart metadata
  charts/gotify/Chart.yaml
  charts/gotify/README.md
  charts/headscale/Chart.yaml
  charts/headscale/README.md
  charts/healthchecks/Chart.yaml
  charts/healthchecks/README.md
  charts/home-assistant/Chart.yaml
  charts/home-assistant/README.md
  charts/limo/Chart.yaml
  charts/limo/README.md
  charts/memos/Chart.yaml
  charts/memos/README.md
  charts/miniflux/Chart.yaml
  charts/miniflux/README.md
  charts/paperless-ngx/Chart.yaml
  charts/paperless-ngx/README.md
  charts/tandoor/Chart.yaml
  charts/tandoor/README.md
  charts/vaultwarden/Chart.yaml
  charts/vaultwarden/README.md
Due: ah-lint, helm-docs, gen-chart-summary

chore: Update chart metadata
  charts/memos/Chart.yaml
  charts/memos/README.md
Due: ah-lint, helm-docs, gen-chart-summary

chore: Update chart metadata
  charts/headscale/Chart.yaml
  charts/headscale/README.md
Due: ah-lint, helm-docs, gen-chart-summary

chore: Update chart metadata
  charts/paperless-ngx/Chart.yaml
  charts/paperless-ngx/README.md
Due: ah-lint, helm-docs, gen-chart-summary

chore: Update chart metadata
  charts/tandoor/Chart.yaml
  charts/tandoor/README.md
Due: ah-lint, helm-docs, gen-chart-summary

chore: Update chart metadata
  charts/homer/Chart.yaml
  charts/homer/README.md
Due: ah-lint, helm-docs, gen-chart-summary

chore: Update chart metadata
  charts/nightscout/Chart.yaml
  charts/nightscout/README.md
Due: ah-lint, helm-docs, gen-chart-summary

chore: Update chart metadata
  charts/obico/Chart.yaml
  charts/obico/README.md
  charts/paperless-ngx/Chart.yaml
  charts/paperless-ngx/README.md
  charts/rsshub/Chart.yaml
  charts/rsshub/README.md
Due: ah-lint, helm-docs, gen-chart-summary

chore: Update chart metadata
  charts/plex/Chart.yaml
  charts/plex/README.md
Due: ah-lint, helm-docs, gen-chart-summary

Path conditions:
  ah-lint: any of: ^charts/
  helm-docs: any of: (README_CONFIG\.md\.gotmpl|(Chart|requirements|values)\.yaml)$
  gen-chart-summary: any of: Chart\.yaml$
