Repository gabe565/charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-chart-summary, helm-docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: check-merge-conflict
      - id: check-case-conflict

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.3.1
    hooks:
      - id: remove-crlf
      - id: remove-tabs

  - repo: local
    hooks:
      - id: gen-chart-summary
        name: Generate Chart Summary
        entry: hack/gen-chart-summary.sh
        language: system
        files: Chart\.yaml$
        pass_filenames: false

      - id: helm-docs
        name: Helm Docs
        entry: hack/gen-helm-docs.sh
        language: script
        files: (README_CONFIG\.md\.gotmpl|(Chart|requirements|values)\.yaml)$
        pass_filenames: false

chore: Update chart metadata
  charts/plex/Chart.yaml
  charts/plex/README.md
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/bookstack/Chart.yaml
  charts/bookstack/README.md
Due: gen-chart-summary, helm-docs

Expose option to create serviceAccount
  charts/flame/values.yaml
Due: helm-docs

Create RBAC resources
  charts/flame/templates/clusterrole.yaml
  charts/flame/templates/clusterrolebinding.yaml
  charts/flame/values.yaml
Due: helm-docs

Bump chart version
  charts/flame/Chart.yaml
Due: gen-chart-summary, helm-docs

chore(flame): Update changelog entry to indicate added feature
  charts/flame/Chart.yaml
Due: gen-chart-summary, helm-docs

chore(flame): Update chart metadata
  charts/flame/README.md
Due: none

feat(flame): Add RBAC support (#653)
  charts/flame/Chart.yaml
  charts/flame/README.md
  charts/flame/templates/clusterrole.yaml
  charts/flame/templates/clusterrolebinding.yaml
  charts/flame/values.yaml
Due: gen-chart-summary, helm-docs

Update index.yaml
  index.yaml
Due: none

chore: Update chart metadata
  charts/memos/Chart.yaml
  charts/memos/README.md
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/ascii-movie/Chart.yaml
  charts/ascii-movie/README.md
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/paperless-ngx/Chart.yaml
  charts/paperless-ngx/README.md
Due: gen-chart-summary, helm-docs

fix urls
  charts/vaultwarden/README.md
  charts/vaultwarden/values.yaml
Due: helm-docs

update main branch
  charts/bookstack/README.md
  charts/bookstack/values.yaml
  charts/gotify/README.md
  charts/gotify/values.yaml
  charts/headscale/README.md
  charts/headscale/values.yaml
  charts/healthchecks/README.md
  charts/healthchecks/values.yaml
  charts/home-assistant/README.md
  charts/home-assistant/values.yaml
  charts/limo/README.md
  charts/limo/values.yaml
  charts/memos/README.md
  charts/memos/values.yaml
  charts/miniflux/README.md
  charts/miniflux/values.yaml
  charts/monica/README.md
  charts/monica/values.yaml
  charts/nightscout/README.md
  charts/nightscout/values.yaml
  charts/obico/README.md
  charts/obico/values.yaml
  charts/rsshub/README.md
  charts/rsshub/values.yaml
  charts/tandoor/README.md
  charts/tandoor/values.yaml
Due: helm-docs

docs: Fix vaultwarden subchart URLs, revise references to master branch for bitnami/charts repo (#656)
  charts/bookstack/README.md
  charts/bookstack/values.yaml
  charts/gotify/README.md
  charts/gotify/values.yaml
  charts/headscale/README.md
  charts/headscale/values.yaml
  charts/healthchecks/README.md
  charts/healthchecks/values.yaml
  charts/home-assistant/README.md
  charts/home-assistant/values.yaml
  charts/limo/README.md
  charts/limo/values.yaml
  charts/memos/README.md
  charts/memos/values.yaml
  charts/miniflux/README.md
  charts/miniflux/values.yaml
  charts/monica/README.md
  charts/monica/values.yaml
  charts/nightscout/README.md
  charts/nightscout/values.yaml
  charts/obico/README.md
  charts/obico/values.yaml
  charts/rsshub/README.md
  charts/rsshub/values.yaml
  charts/tandoor/README.md
  charts/tandoor/values.yaml
  charts/vaultwarden/README.md
  charts/vaultwarden/values.yaml
Due: helm-docs

chore: Update chart metadata
  charts/bookstack/Chart.yaml
  charts/bookstack/README.md
  charts/healthchecks/Chart.yaml
  charts/healthchecks/README.md
  charts/memos/Chart.yaml
  charts/memos/README.md
  charts/monica/Chart.yaml
  charts/monica/README.md
  charts/paperless-ngx/Chart.yaml
  charts/paperless-ngx/README.md
  charts/vaultwarden/Chart.yaml
  charts/vaultwarden/README.md
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/gotify/Chart.yaml
  charts/gotify/README.md
  charts/headscale/Chart.yaml
  charts/headscale/README.md
  charts/healthchecks/Chart.yaml
  charts/healthchecks/README.md
  charts/home-assistant/Chart.yaml
  charts/home-assistant/README.md
  charts/limo/Chart.yaml
  charts/limo/README.md
  charts/memos/Chart.yaml
  charts/memos/README.md
  charts/miniflux/Chart.yaml
  charts/miniflux/README.md
  charts/paperless-ngx/Chart.yaml
  charts/paperless-ngx/README.md
  charts/tandoor/Chart.yaml
  charts/tandoor/README.md
  charts/vaultwarden/Chart.yaml
  charts/vaultwarden/README.md
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/obico/Chart.yaml
  charts/obico/README.md
  charts/paperless-ngx/Chart.yaml
  charts/paperless-ngx/README.md
  charts/rsshub/Chart.yaml
  charts/rsshub/README.md
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/nightscout/Chart.yaml
  charts/nightscout/README.md
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/vaultwarden/Chart.yaml
  charts/vaultwarden/README.md
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/castsponsorskip/Chart.yaml
  charts/castsponsorskip/README.md
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/miniflux/Chart.yaml
  charts/miniflux/README.md
Due: gen-chart-summary, helm-docs

chore: Update chart metadata
  charts/qbittorrent/Chart.yaml
  charts/qbittorrent/README.md
Due: gen-chart-summary, helm-docs
